// Color Palette
$pink--level-1: #fff0f5;
$pink--level-2: #f3dec8;
$pink--level-3: #ebd4da;
$purple--level-1: #d499a7;
$purple--level-2: #a88d9d;

// Buttons
$button__color: gainsboro;
$button__color--hover: #fff;
$button__bg: transparent;
$button__bg--hover: gainsboro;

// Fonts
$font--lobster: "Lobster", sans-serif;
$font_color--title: $purple--level-2;
