*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @include query(xs-only) {
    font-size: 80%;
  }

  @include query(sm-only) {
    font-size: 90%;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, $pink--level-2, $pink--level-1);

  font-family: $font--lobster;
}
