<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="")
    link(rel="author" href="human.txt")
    title Flat Music Player
  body
   
    section.player.js-player
      
      .player_info
        .player_info_inner
          //- Song information
          h1.player_title Stories from Emona I
          h2.player_subtitle maya filipic
          
          //- Progressbar
          .player_progressbar
            .player_progressbar_progress.js-progress
      
      .player_console
        //- CD cover
        .player_cover
          img(src="../img/cover.jpg", alt="MAYA FILIPIČ - Stories from Emona I (2008)")

        //- Control panel
        .player_buttons
          div(class="player_button player_button--backward js-backward")
            i.fa.fa-backward
          div(class="player_button player_button--play js-play")
            i.fa.fa-play
          div(class="player_button player_button--forward js-forward")
            i.fa.fa-forward
  
  